# Server
PORT=5051
NODE_ENV=development

# Mongo
MONGO_URI=mongodb://127.0.0.1:27017/consulta_erp

# Auth
JWT_SECRET=change-this-in-prod

# CORS (comma-separated)
CORS_ORIGINS=http://localhost:5173,https://www.consulta.in,https://consulta.in

# Uploads
UPLOAD_DIR=uploads
